<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">


	<!-- Configures support for @Controllers -->
	<mvc:annotation-driven />
 
	<context:component-scan base-package="com.nhncorp.ngrinder.**.controller"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller"></context:include-filter>
	</context:component-scan>
	
	<bean id="freemarkerConfig"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/WEB-INF/ftl/" />
		<property name="freemarkerSettings">
			<props>
				<prop key="defaultEncoding">UTF-8</prop>
			</props>
		</property>
	</bean>
 	<bean id="freemarkerResolver"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
  		<property name="order" value="1"/>
		<property name="viewClass"
			value="org.springframework.web.servlet.view.freemarker.FreeMarkerView" />
		<property name="prefix" value="/" />
		<property name="suffix" value=".ftl" />
		<property name="requestContextAttribute" value="Request"/>
		<property name="contentType" value="text/html;charset=UTF-8"/>
	</bean>

	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
  		<property name="order" value="2"/>
		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.Exception">errors/error</prop>
			</props>
		</property>
	</bean>
	
	<bean
		class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator">
		<property name="proxyTargetClass" value="true"></property>
	</bean>

	<!--  messages -->
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<!-- <property name="basename" value="classpath:messages" /> -->
		<property name="basenames">
			<list>
				<value>/WEB-INF/messages/messages</value>
				<value>/WEB-INF/messages/errorMessages</value>
			</list>
		</property>
		<property name="defaultEncoding" value="UTF-8" />
	</bean>
	<bean id="localeChangeInterceptor"
		class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
		<property name="paramName" value="lang" />
	</bean>	
	
	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="defaultLocale" value="en" />
	</bean>
	
	<bean id="multipartResolver"  
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver"> 
        <property name="maxUploadSize" value="50000000"/>
		<property name="defaultEncoding" value="utf-8"/>
        
    </bean>

	<bean id="handlerMapping"
		class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
		<property name="interceptors">
			<list>
				<ref bean="localeChangeInterceptor" />
			</list>
		</property>
	</bean>
	
	<!-- 
	<mvc:interceptors> 
		<mvc:interceptor>
			<mvc:mapping path="/project/**"/>
			<mvc:mapping path="/test/**"/>
			<mvc:mapping path="/help**"/>
			<mvc:mapping path="/reservation/**"/>
			<bean class="com.nhncorp.ngrinder.interceptor.TestRunningInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
	 -->
	 
	<!-- resources exclusions from servlet mapping -->
	<mvc:resources mapping="/css/**" location="/css/" />
	<mvc:resources mapping="/img/**" location="/img/" />
	<mvc:resources mapping="/js/**" location="/js/" />
	<mvc:resources mapping="/chart/**" location="/chart/" />
	<mvc:resources mapping="/editarea/**" location="/editarea/" />

</beans>
