<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="
   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">
	<!-- Scans the classpath of this application for @Components to deploy as beans -->
	<context:component-scan base-package="org.ngrinder">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
	</context:component-scan>

	<import resource="applicationContext-springdata.xml"/>
	<import resource="applicationContext-security.xml"/>
	<import resource="applicationContext-ehcache.xml"/>
	<import resource="applicationContext-task.xml"/>
	<import resource="applicationContext-external.xml"/>
	<import resource="applicationContext-message.xml"/>
</beans>

