ngrinder:
  version: 3.5.0-SNAPSHOT

server:
  default-encoding: UTF-8
  servlet:
    session:
      timeout: 10000m
  task:
    scheduler:
      pool-size: 100
    async-executor:
      pool-size: 10
  multipart:
    max-upload-size: 50000000

spring:
  application:
    name: ngrinder
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.liquibase.LiquibaseAutoConfiguration
      - org.springframework.boot.autoconfigure.web.servlet.DispatcherServletAutoConfiguration
      - org.springframework.boot.autoconfigure.freemarker.FreeMarkerAutoConfiguration
  profiles:
    active: production
