<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %-5level %F:%L %marker: %message%n</pattern>
		</encoder>
	</appender>


	<logger name="org.ngrinder.infra.logger.CoreLogger" level="INFO" additivity="false">
		<appender-ref ref="console"/>
	</logger>

	<root>
		<level value="INFO"/>
		<appender-ref ref="console"/>
	</root>
</configuration>