<jnlp spec="6.0+" codebase="$$codebase" href="$$name">
	<information>
		<title>nGrinder core</title>
		<vendor>nGrinder</vendor>
		<homepage href="http://www.nhnopensource.org/ngrinder" />
		<description>nGrinder core</description>
		<description kind="short">nGrinder core</description>
	</information>

	<security>
		<all-permissions />
	</security>

	<application-desc main-class="$mainClass" />
	
	<resources>
		<j2se version="1.6+" />
		<jar href="lib/ngrinder-core-$outputfilename" main="true" />
		<jar href="lib/ngrinder-dns-$outputfilename" main="true" />
		
		<jar href="lib/antlr-2.7.7.jar"/>
		<jar href="lib/asm-3.2.jar"/>
		<jar href="lib/commons-collections-3.2.1.jar"/>
		<jar href="lib/commons-compress-1.4.1.jar"/>
		<jar href="lib/commons-io-2.0.1.jar"/>
		<jar href="lib/commons-lang-2.6.jar"/>
		<jar href="lib/dnsjava-2.1.1.jar"/>
		<jar href="lib/dom4j-1.6.1.jar"/>
		<jar href="lib/grinder-3.9.1.jar"/>
		<jar href="lib/grinder-core-3.9.1.jar"download="eager" />
		<jar href="lib/grinder-dcr-agent-3.9.1.jar"/>
		<jar href="lib/grinder-http-3.9.1.jar"/>
		<jar href="lib/grinder-httpclient-3.9.1.jar"/>
		<jar href="lib/hibernate-commons-annotations-4.0.1.Final.jar"/>
		<jar href="lib/hibernate-core-4.0.1.Final.jar"/>
		<jar href="lib/hibernate-jpa-2.0-api-1.0.1.Final.jar"/>
		<jar href="lib/javassist-3.15.0-GA.jar"/>
		<jar href="lib/jboss-transaction-api_1.1_spec-1.0.0.Final.jar"/>
		<jar href="lib/jcl-over-slf4j-1.6.4.jar"/>
		<jar href="lib/json-20090211.jar"/>
		<jar href="lib/jython-standalone-2.5.3.jar"/>
		<jar href="lib/log4j-1.2.15.jar"/>
		<jar href="lib/logback-classic-1.0.0.jar"/>
		<jar href="lib/logback-core-1.0.0.jar"/>
		<jar href="lib/picocontainer-2.13.6.jar"/>
		<jar href="lib/sigar-1.6.4.jar"/>
		<jar href="lib/slf4j-api-1.6.4.jar"/>
		<jar href="lib/xml-apis-1.0.b2.jar"/>
		<jar href="lib/xz-1.0.jar"/>
		<jar href="lib/native.jar"/>
		
		<property name="start.mode" value="agent" />
		<property name="start.webstart" value="true" />
	</resources>
</jnlp>